<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	
	<!--Cadena de conexion-->
	<connectionStrings>
		<add name ="Conexion" connectionString="Data Source=DESKTOP-IN0RIQA; DataBase=TrabajoGrado1.0; Integrated Security= true"/>
	</connectionStrings>
</configuration>